<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 mr-auto text-left">
                <h4 class="card-title">
                  Panel de Usuarios
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block bg-success" [routerLink]="['/user/new']">Crear un usario nuevo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            Lista de usuarios actuales:
          </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="entities">
                <table class="table table-striped" aria-describedby="page-heading">
                  <thead>
                    <tr>
                      <th scope="col"><span >ID</span></th>
                      <th scope="col"><span>Nombre</span></th>
                      <th scope="col"><span>Apellidos</span></th>
                      <th scope="col"><span>Fecha de Nacimiento</span></th>
                      <th scope="col"><span>Estado</span></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users; trackBy: trackId" data-cy="entityTable">
                      <td>
                        <a [routerLink]="['/user', user.id, 'view']">{{ user.id }}</a>
                      </td>
                      <td>{{ user.nombre }}</td>
                      <td>{{ user.Apellidos }}</td>
                      <td>{{ user.fechaNacimiento }}</td>
                      <td>{{ user.estado }}</td>
                      <td class="text-right">
                        <div class="btn-group">
                          <button
                            type="submit"
                            [routerLink]="['/user', user.id, 'view']"
                            class="btn btn-info btn-sm"
                            data-cy="entityDetailsButton"
                          >
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                          </button>
            
                          <button
                            type="submit"
                            [routerLink]="['/user', user.id, 'edit']"
                            class="btn btn-primary btn-sm"
                            data-cy="entityEditButton"
                          >
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                          </button>
            
                          <button type="submit" (click)="delete(user)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>            
        </div>
      </div>
    </div>
  </div>
</div>
