<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <br>
      <br>

      <h2
        id="user-information-heading"
        data-cy="UserInformationCreateUpdateHeading"
      >
        Solicitar el prestamo de un libro
      </h2>

      <div>

        <div class="form-group">
          <label class="form-control-label"  for="usuario" >Usuario</label>
          <select class="form-control" id="usuario" data-cy="usuario" name="usuario" formControlName="usuario">
            <option [ngValue]="null"></option>
            <option
              *ngFor="let usuarioOption of usuarioShearedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.nombre +" "+ usuarioOption.apellidos }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label"  for="usuario" >Libro</label>
          <select class="form-control" id="catalogoLibro" data-cy="catalogoLibro" name="catalogoLibro" formControlName="catalogoLibro">
            <option [ngValue]="null"></option>
            <option
              *ngFor="let libroOption of catalogoLibrosShearedCollection; trackBy: trackCatalogoLibrosById"
              [value]="libroOption.id"
            >
              {{ libroOption.titulo +" de: " + libroOption.autor}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label"  for="fechaDeDevolucion"
          >Fecha de devolucion</label
          >
          <div class="input-group">
            <input
              id="fechaDeDevolucion"
              data-cy="fechaDeDevolucion"
              type="date"
              [min]="minDate"
              class="form-control"
              name="fechaDeDevolucion"
              formControlName="fechaDeDevolucion"
            />

          </div>
        </div>


      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          Cancelar
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          Solicitar el libro
        </button>
      </div>
    </form>
  </div>
</div>
